0-starter-project/
BreenMockup/*
BreenMockup
*.vsidx
.vs/javascript-basic-projects/v17/.wsuo
.vs/javascript-basic-projects/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.vsidx
.vs/javascript-basic-projects/v17/.wsuo
.vs/javascript-basic-projects/v17/workspaceFileList.bin
*.vsidx
.vs/javascript-basic-projects/FileContentIndex/e029b485-b437-4c45-b34b-49954a941db4.vsidx
*.sqlite
.vs/VSWorkspaceState.json
.vs/javascript-basic-projects/FileContentIndex/e029b485-b437-4c45-b34b-49954a941db4.vsidx
.vs/javascript-basic-projects/v17/.wsuo
.vs/javascript-basic-projects/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/javascript-basic-projects/FileContentIndex/e029b485-b437-4c45-b34b-49954a941db4.vsidx
.vs/javascript-basic-projects/v17/.wsuo
.vs/javascript-basic-projects/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
