0-starter-project/
BreenMockup/*
BreenMockup
/.vs
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/javascript-basic-projects/v17/workspaceFileList.bin
.vs/javascript-basic-projects/v17/.wsuo
.vs/javascript-basic-projects/FileContentIndex/e029b485-b437-4c45-b34b-49954a941db4.vsidx
*.vsidx
*.bin
*.vsidx
